body {
	margin: auto;
	background-color: #444444;
	font-family: 'Open Sans', sans-serif;
	color: #efefef;
	font-size: 20px;
	width: 1000px;
}

#header .logo-container {
	padding-top: 15px;
	text-align: center;
	display: inline-block;
	width: 1000px;
}

#header .logo-container .logo {
	display: inline-block;
	width: 120px;
	height: 120px;
	float: left;
	padding-left: 200px;
}

#header .logo-container h1 {
	display: inline-block;
	font-size: 50px;
	color: #edf3f3;
	text-align: center;
	letter-spacing: 3px;
	float: left;
	padding-left: 40px;
}

#navigation {
    clear: both;
	background-color: #333;
	text-align: center;
    width: 100%;
}

#navigation .menu {
	margin: 0;
	list-style-type: none;
	padding: 10px;
	font-size: 20px;
	min-height: 38px;
	line-height: 200%;
}

#navigation .menu > li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #0a2b42;
}

#navigation .menu > li:first-child {
	border-left: 1px dashed #0a2b42;
}

#navigation .menu a {
	color: #edf3f3;
	text-decoration: none;
}

#content {
    width: 1000px;
}

#content .banner-container {
	display: inline-block;
    width: 300px;
}

#content .banner-container .banner {
    display: inline-block;
	margin-top: 15px;
	height: 400px;
	width: 300px;
}

#content .description {
	display: inline-block;
	text-align: center;   
	margin-left: 25px;
    margin-right: 20px;
    padding-bottom: 10px;
	width: 330px;
}

#content aside {
    display: inline-block;
    float: right;
    text-align: center;
    margin-top: 60px;
    width: 300px;
}

#content aside .form {
    clear: both;
    display: inline-block;
	text-align: center;
}

#content aside .form .form-name {
    display: block;
    text-align: center;
    width: 290px;
    height: 15px;
    margin: 5px;
}

#content aside .form .form-surname {
    display: block;
    text-align: center;
    width: 290px;
    height: 15px;
    margin: 5px;
}

#content aside .form .form-comment {
    display: block;
    text-align: center;
    width: 290px;
    height: 100px;
    margin: 5px;
}

#content aside .form .submit-button {
    display: inline-block;
    text-align: center;
    width: 100px;
    margin: 10px;
}

#footer .info {
	display: inline-block;
	padding: 20px;
	background-color: #333;
    width: 100%;
}

#footer .copyright {
    float: left;
}

#footer .menu-bottom {
    float: right;
	display: inline-block;
	list-style-type: none;
	margin: 0 auto;
}

#footer .menu-bottom > li {
    clear: both;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #0a2b42;
}

#footer .menu-bottom > li:first-child {
	border-left: 1px dashed #0a2b42;
}

#footer .menu-bottom a {
	color: #edf3f3;
	text-decoration: none;
}